<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Léa Heurtin">
    <link rel="icon" href="">

    <title>{% block title %}Mon Blog{% endblock %}</title>

    {% block stylesheets %}
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Bootstrap core CSS -->
    <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="{{ asset('css/mdb.min.css') }}" rel="stylesheet">
    <!-- Your custom styles (optional) -->
    <link href="{{ asset('css/style.css') }}" rel="stylesheet">
    {% endblock %}

</head>
<body>

<header class="header">
    <div class="container">
        <h1 class="text-center"></h1>
        <h2 class="text-center"></h2>
    </div>
</header>

<nav class="navbar navbar-expand-lg navbar-light white fixed-top scrolling-navbar">

    <div class="container">
        <!-- brand -->
        <a class="navbar-brand" href="{{ path('accueil') }}">Mon Blog</a>

        <!-- Collapse button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-nav" aria-controls="main-nav"
            aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>

        <div class="collapse navbar-collapse" id="main-nav">
            <ul class="navbar-nav mr-auto">
                <li class="nav_item"><a class="nav-link" href="{{ path('accueil') }}">Accueil</a></li>
                <li class="nav_item"><a class="nav-link" href="">Photos</a></li>
                {# accès limité aux utilisateurs connectés, on affiche mon compte et deconnexion #}
                {% if is_granted('ROLE_USER') %}
                    <li class="nav_item"><a class="nav-link" href="{{ path('profil') }}">Mon compte</a></li>
                    <li class="nav_item"><a class="nav-link" href="{{ path('deconnexion') }}">Déconnexion</a></li>
                {# si l'utilisateur n'est pas connecté, on affiche inscription / connexion #}
                {% else %}
                    <li class="nav_item"><a class="nav-link" href="{{ path('inscription') }}">Inscription</a></li>
                    <li class="nav_item"><a class="nav-link" href="{{ path('connexion') }}">Connexion</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>

<main class="container">
    {% block main %}{% endblock %}
</main>

<footer class="page-footer">
    Copyright Mon Blog
</footer>

{% block javascripts %}
    <!-- JQuery -->
    <script type="text/javascript" src="{{ asset('js/jquery-3.2.1.min.js') }}"></script>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="{{ asset('js/popper.min.js') }}"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="{{ asset('js/bootstrap.min.js') }}"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="{{ asset('js/mdb.min.js') }}"></script>
{% endblock %}
</body>
</html>

